#seeAll{
  z-index:11;
  position:relative;
  width: 300px;
  height: 93px;
  font-size: 25px;
  text-align: center;
  padding-top:23px;
  cursor: pointer;
  color:black;
  border-left : solid;
  border-width:3px;
  border-color: 	RoyalBlue ;
}
.path{
  opacity: 0.8;
}
#talk{
	top: 220px; 
   left: 50px;
	position: absolute;
    width: 0;
   height: 0;
   border-left: 13px solid transparent;
   border-right: 13px solid transparent;
   border-bottom: 26px solid DodgerBlue;
}
#clickme{
	background-color: DodgerBlue;
	border-radius: 10px;
	padding: 5px;
}
#helptext{
	background-color: DodgerBlue;
	border-radius: 14px;
	padding: 5px;
}
.boxes0{
  position: absolute;
   opacity: 0.0;
    background-color: #ff0000;
    z-index: 3;
    cursor: pointer;
}
.boxes{
  position: absolute;
   opacity: 0.0;
    background-color: #00ff00;
    z-index: 3;
    cursor: pointer;
}
#myt{
   z-index:11;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  color:black;
   border-right : solid;
  border-width:3px;
  border-color: 	RoyalBlue ;
  padding : 200px;
}
#mytable{
  position: fixed;
  top:20px;
  left:880px;
  border-top:hidden;
  cursor: pointer;
  border-bottom:hidden;
}
.row0{
  padding-top:5px;
  padding-left:13px;
  padding-right:13px;
  border-style:hidden;
    
}
#iic{
  font-size: 30px;
  padding-bottom: 17px;
}
.row1{
  padding: 15px;
  border-style:hidden;
}
#pond{
  top:-335px;
  left:550px;
  z-index:1;
  position:relative;
}
#p1{
   width:300px;
height:240px;
}
#blossom{
  top:-510px;
  left:530px;
  z-index:1;
  position:relative;
}
#p2{
   width:920px;
height:410px;
}
#backimg{
  z-index:-1;
} 

tr td { background-color: Gainsboro }



ul.horizontal{
  position : fixed;
  top : 0px;
  width:100%;
  height:10%;
  list-style-type: none;
   margin: 0;
  padding:0;
  overflow: hidden;
  background-color:DodgerBlue;
  top:0px;
  z-index:20;
}

ul.horizontal li {
  float: left;
}

ul.horizontal li a{
  display : inline-block;
  color: white;
  text-align:center;
  text-decoration:none;
}
ul.horizontal li a:hover:not(.active){
 
}
ul.horizontal li a.active{

}

.cafe{
  z-index:2;
  width : 70px;
  height: 70px;
}
#cafe1{
    position : absolute;
    top :730px;
  left : 460px;
}
#cafe2{
    position : absolute;
    top :570px;
  left : 520px;
}
#cafe3{
    position : absolute;
    top :710px;
    left : 870px;
}
#cafe4{
    position : absolute;
    top :440px;
    left : 520px;
}
#cafe5{
    position : absolute;
    top :720px;
    left : 970px;
}
#cafe6{
    position : absolute;
    top :420px;
    left : 1270px;
}
#cafe7{
    position : absolute;
    top :800px;
    left : 550px;
}

.bus{
  z-index:2;
  width : 70px;
  height: 70px;
}
#bus1{
  position : absolute;
    top :720px;
    left : 1450px;
}
#bus2{
  position : absolute;
    top :740px;
    left : 690px;
}
#bus3{
  position : absolute;
    top :370px;
    left : 360px;
}
#bus4{
  position : absolute;
    top :400px;
    left : 600px;
}
#bus5{
  position : absolute;
    top :580px;
    left : 820px;
}
#bus6{
  position : absolute;
    top :630px;
    left :1140px;
}
#bus7{
  position : absolute;
    top :830px;
    left :760px;
}
#bus8{
  position : absolute;
    top :570px;
    left :590px;
}

.rest{
   z-index:2;
  width : 70px;
  height: 70px;
}

#rest1{
  position : absolute;
    top :390px;
    left :610px;
}
#rest2{
  position : absolute;
    top :725px;
    left :530px;
}
#rest3{
  position : absolute;
    top :670px;
    left :870px;
}
#rest4{
  position : absolute;
    top :430px;
    left :668px;
}
#rest5{
  position : absolute;
    top :560px;
    left :860px;
}
#rest6{
  position : absolute;
    top :430px;
    left :730px;
}

#filter{
  z-index:11;
  position:relative;
  width: 200px;
  height: 93px;
  font-size: 25px;
  text-align: center;
  padding-top:23px;
  cursor: pointer;
  color:black;
  border-left : solid;
   border-right : solid;
  border-width:3px;
  border-color: 	RoyalBlue ;

}

.picture{
  position: relative;
  top: 17px;
  left: 25px;
  vertical-align: middle;
  width: 400px;
  height: 270px;
}
.building{
   width: 450px;
   height: 300px;
   background: #336C9F;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
   z-index: 4;
}
.building:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 250px;
   left: 170px;
   width: 0;
   height: 0;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-top: 100px solid #336C9F;
}
